html, body {
  height: 100vh; /* Asegura que el body ocupe toda la altura de la pantalla */
  background-color: #111; /* El color de fondo de toda la página */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

/* Navbar con fondo semitransparente */
.custom-navbar {
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(4, 7, 238, 0.384) !important;
  transition: all 0.3s ease;
  border-radius: 50px;
}

/* Header con fondo oscuro */
header {
  
  padding: 70px ;
  background-color: #111;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}

.container{
  margin-top: 20px;
}


/* Para pantallas medianas y más grandes, centrar y reducir el navbar */
@media (min-width: 768px) {
  .custom-navbar {
    width: 50%;
    margin: 0 auto;
    top: 30px;
  }
}

/* Contenedor con padding adaptable */
.container {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

/* Secciones con fondo oscuro y espaciado */
section {
  scroll-margin-top: 100px; /* Ajusta el desplazamiento del navbar */
  padding: 20px 0;
  background-color: #111; /* Fondo de las secciones */
}

/* Elemento 'sobre' con estilo flotante y animación */
.sobre {
  border-radius: 15px;
  background-color: blue;
  margin-top: 10px;
  transition: transform 0.3s ease;
}

.sobre:hover {
  transform: translateY(-5px); /* sin mover en X */
}




.carousel-inner img {
  border-radius: 10px;
  background-color: #222;
  padding: 5px;
}

#contacto a:hover {
  color: #0d6efd;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}